/* este es un comentario en CSS */
*{
    background-color: cornflowerblue;
}

/* Selectores de tipo 
Selecciona todos los elementos con este nombre */

h1{
    font-family: 'Mulish', sans-serif;
}

p {
    font-family: 'Mulish', sans-serif;
}

/*
body {
    background-color: cornflowerblue;
}

p {
    color: brown;
}

p {
    color: red;
}
*/